/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
.page-wrapper {
    display: flex;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

/* header */
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 290px;
    width: 300px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
}

#nav-bar header {
    margin: 10px 10px 10px 30px;
    display: block;
    font-size: 28px;
    font-weight: 500;
    width: 280px;
}

#nav-bar ul {
    height: 88%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: #4d4e53;
    font-size: 16px;
    padding: 10px 30px;
    opacity: 0.9;
    width: 100%;
    border-top: 1px solid black;
    cursor: pointer;
}

/* main doc */

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

.main-section header {
    font-size: 28px;
    color: black;
    font-weight: 300;
}

article {
    margin: 15px;
}

article ul {
    padding-left: 40px;
}

article ul li {
    margin: 15px 0px 0px 20px;
}

article code {
    display: block;
    margin: 10px;
    padding: 15px;
    font-size: 12px;
    background-color: #f7f7f7;
}

article p {
    font-size: 16px;
    margin-top: 15px;
}

span a {
    cursor: pointer;
}

@media (max-width: 815px) {
    .page-wrapper {
        flex-direction: column;
    }

    #nav-bar {
        position: relative;
        width: 100%;
        height: 275px;
        border-right: none;
    }

    #nav-bar header {
        text-align: center;
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px;
        background-color: white;
        z-index: 100;
        border-bottom: 2px solid black;
    }

    .nav-items {
        z-index: 50;
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 2px solid black;
    }
    
    #main-doc {
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: 36px;
    }
}